In [1]:
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd

In [54]:
keywords_students = ['Python C++ Java ComputerVision computervision', 'Java Opencv Spark     ','Embedding spark C Multithreading','Hibernate Sql mongodb']

In [55]:
ids = [12,22,55,88]

In [56]:
advertisement = 'Opencv Spring Hibernate Java Opencv 5year experience Bigdata'

In [57]:
keywords_students.append(advertisement)

In [58]:
keywords_students

['Python C++ Java ComputerVision computervision',
 'Java Opencv Spark     ',
 'Embedding spark C Multithreading',
 'Hibernate Sql mongodb',
 'Opencv Spring Hibernate Java Opencv 5year experience Bigdata']

In [59]:
df = pd.DataFrame(keywords_students,columns=['keywords'])

In [60]:
df

                                            keywords
0      Python C++ Java ComputerVision computervision
1                             Java Opencv Spark
2                   Embedding spark C Multithreading
3                              Hibernate Sql mongodb
4  Opencv Spring Hibernate Java Opencv 5year expe...

In [61]:
cv = CountVectorizer(token_pattern = '[a-zA-Z0-9$&+,:;=?@#|<>.^*()%!-]+')
count_matrix = cv.fit_transform(df['keywords'])

In [62]:
cv.get_feature_names()

['5year',
 'bigdata',
 'c',
 'c++',
 'computervision',
 'embedding',
 'experience',
 'hibernate',
 'java',
 'mongodb',
 'multithreading',
 'opencv',
 'python',
 'spark',
 'spring',
 'sql']

In [63]:
count_matrix.toarray()

array([[0, 0, 0, 1, 2, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0],
       [0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1],
       [1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 2, 0, 0, 1, 0]], dtype=int64)

In [64]:
from sklearn.metrics.pairwise import cosine_similarity
similarity_scores = cosine_similarity(count_matrix)

In [65]:
similarity_scores

array([[1.        , 0.21821789, 0.        , 0.        , 0.11952286],
       [0.21821789, 1.        , 0.28867513, 0.        , 0.54772256],
       [0.        , 0.28867513, 1.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        , 1.        , 0.18257419],
       [0.11952286, 0.54772256, 0.        , 0.18257419, 1.        ]])

In [14]:
studentpoints = similarity_scores[-1][:-1]
studentpoints

array([0.18257419, 0.54772256, 0.        , 0.18257419])

In [15]:
studentindex = [i[0] for i in sorted(enumerate(studentpoints), key=lambda x:x[1],reverse=True)]
studentindex

[1, 0, 3, 2]

In [16]:
selected_ids = []
for i, s in enumerate(studentindex):
    if i>=20:break
    selected_ids.append(ids[s])
    
selected_ids

[22, 12, 88, 55]