# Anomaly Detection in  KDD99 Dataset

In [27]:
import pandas as pd
from tensorflow.keras.utils import get_file

pd.set_option('display.max_columns', 6)
pd.set_option('display.max_rows', 5)
k
try:
    path = get_file('kddcup.data_10_percent.gz', origin=\
    'http://kdd.ics.uci.edu/databases/kddcup99/kddcup.data_10_percent.gz')
except:
    print('Error downloading')
    raise
    
print(path)

/root/.keras/datasets/kddcup.data_10_percent.gz

In [28]:
# Download from: http://kdd.ics.uci.edu/databases/kddcup99/kddcup99.html
df = pd.read_csv(path, header=None)
print("Total {} rows.".format(len(df)))

Total 494021 rows.

In [29]:
df.head(10)

    0    1     2   ...   39   40       41
0    0  tcp  http  ...  0.0  0.0  normal.
1    0  tcp  http  ...  0.0  0.0  normal.
..  ..  ...   ...  ...  ...  ...      ...
8    0  tcp  http  ...  0.0  0.0  normal.
9    0  tcp  http  ...  0.0  0.0  normal.

[10 rows x 42 columns]

In [30]:
df.dropna(inplace=True,axis=1) 
# For now, just drop NA's (rows with missing values)

# The CSV file has no column heads, so add them
df.columns = [
    'duration',
    'protocol_type',
    'service',
    'flag',
    'src_bytes',
    'dst_bytes',
    'land',
    'wrong_fragment',
    'urgent',
    'hot',
    'num_failed_logins',
    'logged_in',
    'num_compromised',
    'root_shell',
    'su_attempted',
    'num_root',
    'num_file_creations',
    'num_shells',
    'num_access_files',
    'num_outbound_cmds',
    'is_host_login',
    'is_guest_login',
    'count',
    'srv_count',
    'serror_rate',
    'srv_serror_rate',
    'rerror_rate',
    'srv_rerror_rate',
    'same_srv_rate',
    'diff_srv_rate',
    'srv_diff_host_rate',
    'dst_host_count',
    'dst_host_srv_count',
    'dst_host_same_srv_rate',
    'dst_host_diff_srv_rate',
    'dst_host_same_src_port_rate',
    'dst_host_srv_diff_host_rate',
    'dst_host_serror_rate',
    'dst_host_srv_serror_rate',
    'dst_host_rerror_rate',
    'dst_host_srv_rerror_rate',
    'outcome'
]

# display 5 rows
pd.set_option('display.max_columns', 42)
pd.set_option('display.max_rows', 10)
df

,duration,protocol_type,service,flag,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,num_failed_logins,logged_in,num_compromised,root_shell,su_attempted,num_root,num_file_creations,num_shells,num_access_files,num_outbound_cmds,is_host_login,is_guest_login,count,srv_count,serror_rate,srv_serror_rate,rerror_rate,srv_rerror_rate,same_srv_rate,diff_srv_rate,srv_diff_host_rate,dst_host_count,dst_host_srv_count,dst_host_same_srv_rate,dst_host_diff_srv_rate,dst_host_same_src_port_rate,dst_host_srv_diff_host_rate,dst_host_serror_rate,dst_host_srv_serror_rate,dst_host_rerror_rate,dst_host_srv_rerror_rate,outcome
0,0,tcp,http,SF,181,5450,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,8,8,0.00,0.00,0.0,0.0,1.0,0.0,0.00,9,9,1.0,0.0,0.11,0.00,0.00,0.00,0.0,0.0,normal.
1,0,tcp,http,SF,239,486,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,8,8,0.00,0.00,0.0,0.0,1.0,0.0,0.00,19,19,1.0,0.0,0.05,0.00,0.00,0.00,0.0,0.0,normal.
2,0,tcp,http,SF,235,1337,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,8,8,0.00,0.00,0.0,0.0,1.0,0.0,0.00,29,29,1.0,0.0,0.03,0.00,0.00,0.00,0.0,0.0,normal.
3,0,tcp,http,SF,219,1337,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,6,6,0.00,0.00,0.0,0.0,1.0,0.0,0.00,39,39,1.0,0.0,0.03,0.00,0.00,0.00,0.0,0.0,normal.
4,0,tcp,http,SF,217,2032,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,6,6,0.00,0.00,0.0,0.0,1.0,0.0,0.00,49,49,1.0,0.0,0.02,0.00,0.00,0.00,0.0,0.0,normal.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494016,0,tcp,http,SF,310,1881,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,4,5,0.00,0.00,0.0,0.0,1.0,0.0,0.40,86,255,1.0,0.0,0.01,0.05,0.00,0.01,0.0,0.0,normal.
494017,0,tcp,http,SF,282,2286,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,6,6,0.00,0.00,0.0,0.0,1.0,0.0,0.00,6,255,1.0,0.0,0.17,0.05,0.00,0.01,0.0,0.0,normal.
494018,0,tcp,http,SF,203,1200,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,6,18,0.17,0.11,0.0,0.0,1.0,0.0,0.17,16,255,1.0,0.0,0.06,0.05,0.06,0.01,0.0,0.0,normal.
494019,0,tcp,http,SF,291,1200,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,6,12,0.00,0.00,0.0,0.0,1.0,0.0,0.17,26,255,1.0,0.0,0.04,0.05,0.04,0.01,0.0,0.0,normal.
494020,0,tcp,http,SF,219,1234,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,6,35,0.00,0.00,0.0,0.0,1.0,0.0,0.14,6,255,1.0,0.0,0.17,0.05,0.00,0.01,0.0,0.0,normal.

In [33]:
df.groupby('outcome')['outcome'].count()

outcome
back.                 2203
buffer_overflow.        30
ftp_write.               8
guess_passwd.           53
imap.                   12
                     ...
smurf.              280790
spy.                     2
teardrop.              979
warezclient.          1020
warezmaster.            20
Name: outcome, Length: 23, dtype: int64

Preprocessing

In [34]:

# Encode a numeric column as zscores
def encode_numeric_zscore(df, name, mean=None, sd=None):
    if mean is None:
        mean = df[name].mean()

    if sd is None:
        sd = df[name].std()

    df[name] = (df[name] - mean) / sd
    
# Encode text values to dummy variables(i.e. [1,0,0],[0,1,0],[0,0,1] 
# for red,green,blue)
def encode_text_dummy(df, name):
    dummies = pd.get_dummies(df[name])
    for x in dummies.columns:
        dummy_name = f"{name}-{x}"
        df[dummy_name] = dummies[x]
    df.drop(name, axis=1, inplace=True)

This code converts all numeric columns to Z-Scores and all textual columns to dummy variables.

In [35]:

# Now encode the feature vector

pd.set_option('display.max_columns', 6)
pd.set_option('display.max_rows', 5)

encode_numeric_zscore(df, 'duration')
encode_text_dummy(df, 'protocol_type')
encode_text_dummy(df, 'service')
encode_text_dummy(df, 'flag')
encode_numeric_zscore(df, 'src_bytes')
encode_numeric_zscore(df, 'dst_bytes')
encode_text_dummy(df, 'land')
encode_numeric_zscore(df, 'wrong_fragment')
encode_numeric_zscore(df, 'urgent')
encode_numeric_zscore(df, 'hot')
encode_numeric_zscore(df, 'num_failed_logins')
encode_text_dummy(df, 'logged_in')
encode_numeric_zscore(df, 'num_compromised')
encode_numeric_zscore(df, 'root_shell')
encode_numeric_zscore(df, 'su_attempted')
encode_numeric_zscore(df, 'num_root')
encode_numeric_zscore(df, 'num_file_creations')
encode_numeric_zscore(df, 'num_shells')
encode_numeric_zscore(df, 'num_access_files')
encode_numeric_zscore(df, 'num_outbound_cmds')
encode_text_dummy(df, 'is_host_login')
encode_text_dummy(df, 'is_guest_login')
encode_numeric_zscore(df, 'count')
encode_numeric_zscore(df, 'srv_count')
encode_numeric_zscore(df, 'serror_rate')
encode_numeric_zscore(df, 'srv_serror_rate')
encode_numeric_zscore(df, 'rerror_rate')
encode_numeric_zscore(df, 'srv_rerror_rate')
encode_numeric_zscore(df, 'same_srv_rate')
encode_numeric_zscore(df, 'diff_srv_rate')
encode_numeric_zscore(df, 'srv_diff_host_rate')
encode_numeric_zscore(df, 'dst_host_count')
encode_numeric_zscore(df, 'dst_host_srv_count')
encode_numeric_zscore(df, 'dst_host_same_srv_rate')
encode_numeric_zscore(df, 'dst_host_diff_srv_rate')
encode_numeric_zscore(df, 'dst_host_same_src_port_rate')
encode_numeric_zscore(df, 'dst_host_srv_diff_host_rate')
encode_numeric_zscore(df, 'dst_host_serror_rate')
encode_numeric_zscore(df, 'dst_host_srv_serror_rate')
encode_numeric_zscore(df, 'dst_host_rerror_rate')
encode_numeric_zscore(df, 'dst_host_srv_rerror_rate')

In [36]:
df.dropna(inplace=True,axis=1)
df[0:5]

,duration,src_bytes,dst_bytes,...,is_host_login-0,is_guest_login-0,is_guest_login-1
0,-0.067792,-0.002879,0.138664,...,1,1,0
1,-0.067792,-0.002820,-0.011578,...,1,1,0
2,-0.067792,-0.002824,0.014179,...,1,1,0
3,-0.067792,-0.002840,0.014179,...,1,1,0
4,-0.067792,-0.002842,0.035214,...,1,1,0

In [38]:
normal_mask = df['outcome']=='normal.'
attack_mask = df['outcome']!='normal.'

In [39]:
df.drop('outcome',axis=1,inplace=True)

df_normal = df[normal_mask]
df_attack = df[attack_mask]

print(f"Normal count: {len(df_normal)}")
print(f"Attack count: {len(df_attack)}")

Normal count: 97278
Attack count: 396743

Normal Data vs Attack Data

In [48]:
x_normal = df_normal.values
x_attack = df_attack.values

#Auto Encoder Training

In [49]:

from sklearn.model_selection import train_test_split

x_normal_train, x_normal_test = train_test_split(
    x_normal, test_size=0.25, random_state=0)

print(x_normal_train.shape, " - ",x_normal_test.shape)

(72958, 120)  -  (24320, 120)

In [50]:
from sklearn import metrics
import numpy as np
import pandas as pd
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Activation

model = Sequential()
model.add(Dense(25, input_dim=x_normal.shape[1], activation='relu'))
model.add(Dense(3, activation='relu')) # size to compress to
model.add(Dense(25, activation='relu'))
model.add(Dense(x_normal.shape[1])) # Multiple output neurons
model.compile(loss='mean_squared_error', optimizer='adam')
model.fit(x_normal_train,x_normal_train,verbose=1,epochs=100)

Epoch 1/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.3743
Epoch 2/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.2697
Epoch 3/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.2093
Epoch 4/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.1959
Epoch 5/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.1891
Epoch 6/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.1741
Epoch 7/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.1670
Epoch 8/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.1666
Epoch 9/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.1744
Epoch 10/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.1427
Epoch 11/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.1765
Epoch 12/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.1430
Epoch 13/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.1319
Epoch 14/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.1404
Epoch 15/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.1431
Epoch 16/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.1310
Epoch 17/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.1298
Epoch 18/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.1355
Epoch 19/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.1272
Epoch 20/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.1306
Epoch 21/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.1428
Epoch 22/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.1166
Epoch 23/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.1257
Epoch 24/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.1121
Epoch 25/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.1181
Epoch 26/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.1073
Epoch 27/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.1096
Epoch 28/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.0987
Epoch 29/100
2280/2280 [==============================] - 4s 2ms/step - loss: 0.1100
Epoch 30/100
2280/2280 [==============================] - 5s 2ms/step - loss: 0.0934
Epoch 31/100
2280/2280 [==============================] - 4s 2ms/step - loss: 0.0938
Epoch 32/100
2280/2280 [==============================] - 4s 2ms/step - loss: 0.0983
Epoch 33/100
2280/2280 [==============================] - 4s 2ms/step - loss: 0.0882
Epoch 34/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.1043
Epoch 35/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.0814
Epoch 36/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.0941
Epoch 37/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.0841
Epoch 38/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.1246
Epoch 39/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.0816
Epoch 40/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.0771
Epoch 41/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.0756
Epoch 42/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.0817
Epoch 43/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.0706
Epoch 44/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.0713
Epoch 45/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.0758
Epoch 46/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.0702
Epoch 47/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.0707
Epoch 48/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.0787
Epoch 49/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.0659
Epoch 50/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.0650
Epoch 51/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.0630
Epoch 52/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.0703
Epoch 53/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.0633
Epoch 54/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.0611
Epoch 55/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.0644
Epoch 56/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.0678
Epoch 57/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.0638
Epoch 58/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.0619
Epoch 59/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.0609
Epoch 60/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.0668
Epoch 61/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.0590
Epoch 62/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.0618
Epoch 63/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.0606
Epoch 64/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.0604
Epoch 65/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.0617
Epoch 66/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.0577
Epoch 67/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.0596
Epoch 68/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.0569
Epoch 69/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.0675
Epoch 70/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.0565
Epoch 71/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.0667
Epoch 72/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.0535
Epoch 73/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.0645
Epoch 74/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.0596
Epoch 75/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.0588
Epoch 76/100
2280/2280 [==============================] - 4s 2ms/step - loss: 0.0590
Epoch 77/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.0586
Epoch 78/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.0566
Epoch 79/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.0558
Epoch 80/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.0602
Epoch 81/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.0630
Epoch 82/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.0542
Epoch 83/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.0563
Epoch 84/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.0497
Epoch 85/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.0609
Epoch 86/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.0532
Epoch 87/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.0546
Epoch 88/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.0564
Epoch 89/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.0649
Epoch 90/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.0503
Epoch 91/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.0518
Epoch 92/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.0519
Epoch 93/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.0690
Epoch 94/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.0517
Epoch 95/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.0509
Epoch 96/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.1281
Epoch 97/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.0551
Epoch 98/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.0479
Epoch 99/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.0463
Epoch 100/100
2280/2280 [==============================] - 3s 1ms/step - loss: 0.0616

In [51]:
pred = model.predict(x_normal_test)
score1 = np.sqrt(metrics.mean_squared_error(pred,x_normal_test))
pred = model.predict(x_normal)
score2 = np.sqrt(metrics.mean_squared_error(pred,x_normal))
pred = model.predict(x_attack)
score3 = np.sqrt(metrics.mean_squared_error(pred,x_attack))
print(f"Out of Sample Normal Score (RMSE): {score1}")
print(f"Insample Normal Score (RMSE): {score2}")
print(f"Attack Underway Score (RMSE): {score3}")

Out of Sample Normal Score (RMSE): 0.3888584084337096
Insample Normal Score (RMSE): 0.2726947843732399
Attack Underway Score (RMSE): 0.6904994356029094

See the trained data result

In [56]:
results = model.evaluate(x_normal_train, x_normal_train)

2280/2280 [==============================] - 2s 854us/step - loss: 0.0487